<div class="h-100 w-100 login-wrapper flex flex-column justify-content-center">

  <div class="container">
    <div class="row">
      <div class="col-12 pt-4 pb-4 flex flex-column align-items-center">

        <h1 class="semi-bold">Login with</h1>
        <div class="w-50 p-4">
          <img class="img-fluid" src="/assets/img/imgur_logo.png" alt="Imgur logo"/>
        </div>
        <div>
          <button class="cursor semi-bold" mat-raised-button color="accent" (click)="commenceAuthorization()">
            Go to Imgur's login page
          </button>
        </div>

      </div>
    </div>
  </div>

</div>
