<div class="pointer justify-content-center img-thumbnail" *ngIf="item" (click)="notifyShowDetails()">

  <ng-container *ngIf="item.isVideo()">
    <video class="img-thumbnail" autoplay muted loop preload="metadata">
      <source [src]="item.link" [type]="item.type"/>

      Your browser does not support videos.
    </video>
  </ng-container>
  <ng-container *ngIf="item.isImage()">
    <img class="img-thumbnail" [src]="item.link" [alt]="item.title"/>
  </ng-container>

  <div *ngIf="item.title" class="text-center overflow-hidden">
    <h6>{{item.title}}</h6>
  </div>
  <div class="flex flex-row pl-2 pr-2 justify-content-around">
    <div *ngIf="item.ups">
      <mat-icon>thumb_up</mat-icon>
      &nbsp;{{item.ups}}
    </div>
    <div *ngIf="item.views">
      <mat-icon>visibility</mat-icon>
      &nbsp;{{item.views}}
    </div>
    <div *ngIf="item.downs">
      <mat-icon>thumb_down</mat-icon>
      &nbsp;{{item.downs}}
    </div>
  </div>
</div>
