@import "var";

.layout-container {
  height: 100%;

  .layout-sidenav {
    width: $sidenav-width;
    max-width: $sidenav-width;
    background-color: $sidenav-background_color;
  }

  .mat-drawer-content.drawer-content {
    overflow: hidden;
  }

  .layout-wrapper {
    height: 100%;
    max-width: 100%;

    .layout-content-wrapper {
      height: 100%;

      .layout-main-container {
        position: relative;
        flex: 1;
      }
    }
  }
}
