<mat-sidenav-container class="layout-container">
  <mat-sidenav class="layout-sidenav"
               *ngIf="(sidenavState$ | async) as sidenavState"
               [mode]="sidenavState.mode"
               [opened]="sidenavState.value === sidenavVisibilityStates.Expanded"
               (closedStart)="sidenavClosedStart()">
    <div>
      <span class="flex"></span>
    </div>
    <ngd-sidenav></ngd-sidenav>
  </mat-sidenav>
  <mat-sidenav-content class="drawer-content">

    <div class="layout-wrapper">
      <ngd-toolbar></ngd-toolbar>

      <div class="main-container">
        <button (click)="logout()">Logout</button>
        <router-outlet></router-outlet>
      </div>
    </div>

  </mat-sidenav-content>
</mat-sidenav-container>
