.flex {
  display: flex;
}

.flex-1 {
  flex: 1;
}

.pointer {
  cursor: pointer;
  outline: none;

  &:focus {
    outline: none;
  }
}

.overflow-hidden {
  overflow: hidden;
}

.semi-bold {
  font-weight: 500;
}

.resize-vertical {
  resize: vertical;
}

.hidden-input-file {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  display: none;
  z-index: -1;
}

.full-width {
  width: 100%;
}
