<h2 mat-dialog-title>{{data.title}}</h2>
<mat-dialog-content>
  <!--We leave Angular to sanitize the innerHTML value, otherwise we must do it ourselves-->
  <!--This could be some database description and someone could put some malicious code inside-->
  <div class="mb-2" [innerHtml]="data.description"></div>
</mat-dialog-content>

<div class="mb-2">
  <mat-dialog-actions align="end">
    <button mat-raised-button color="warn" mat-dialog-close>
      {{data.cancelText}}
    </button>

    <button mat-raised-button color="accent" [mat-dialog-close]="true" cdkFocusInitial>
      {{data.confirmText}}
    </button>
  </mat-dialog-actions>
</div>
