<mat-sidenav-container class="layout-container">
  <mat-sidenav class="layout-sidenav"
               *ngIf="(sidenavState$ | async) as sidenavState"
               [mode]="sidenavState.mode"
               [opened]="sidenavState.value === sidenavVisibilityStates.Expanded"
               (closedStart)="sidenavClosedStart()">

    <ngd-sidenav></ngd-sidenav>
  </mat-sidenav>

  <mat-sidenav-content class="layout-content-wrapper">
    <div class="layout-wrapper">
      <ngd-toolbar></ngd-toolbar>

      <div class="layout-main-container">
        <router-outlet></router-outlet>
      </div>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
