@import "var";

.layout-container {
  height: 100%;

  .layout-sidenav {
    width: $sidenav-width;
    max-width: $sidenav-width;
    background-color: $sidenav-background;
    color: rgba(255, 255, 255, 0.8);
  }

  .layout-wrapper {
    max-width: 100%;

    .layout-main-container {
      padding-top: $toolbar-height;
      position: relative;
      flex: 1;
    }
  }
}
